priority -55

#用于每个文件头
snippet #mdl "generate a file head" b
#!/usr/bin/env mdl
# -*- coding: utf-8 -*-
# =======================================
# File Name : ${1}
# Purpose : ${2}
# Creation Date : ${3}
# Last Modified : ${4}
# Created By : ${5:sunpeiqin (sunpeiqin@megvii.com)}
# =======================================
endsnippet

snippet #debug "from IPython embed; embed()" b
from IPython embed; embed()
endsnippet

